header {
    background-image:url(../img/fond.jpg) ;
    background-repeat: no-repeat;

    a{
        
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: $segundoColore;
    }
    a:hover{
        animation:  animate__shakeY 1s infinite;
        color: $mainColor;
    }
    .sombreado-1{
        background-color:rgba(134, 35, 226, 0.075);
        border-radius: 10px 10px;
        box-shadow: 0 1px 4px 
    }

    .continer{
        display: flex;
        flex-direction: column;
        align-items: center;

        .int {
            max-width: 100px;
            padding: 20px 12px;
            }

        .logo{
            margin: 0;
            padding: 25px 30px;
            font-weight: bold;
            color: $mainColor;
            font-size: 1.8em;
            font-family:$fontEater;
            
        }
        .logo:hover{
            animation: bounce-animation 1s infinite;
        }
      

            nav{
                display: flex;
                flex-direction: column;
                text-align: center;
                padding-bottom: 25px;
            }
            .red {
                display: flex;
                flex-direction: row;
                text-align: center;

                .fay{
                    max-width: 25px; }
                .tub{
                    max-width: 25px; }
                .inta{
                max-width: 25px;}
            } 
     }
    }
    

@media( max-width:1180px )
{
    header nav{
        display: flex;
        flex-direction: column;
    }
     }