.sombreado-2{
    background-color:$contacto;
    border-radius: 10px 10px;
    box-shadow: 0 1px 4px 
    
}

.banner_text{
    font-family: 'roboto' sans-serif;
    color: $mainColor;
    

    .banner_title-1{
        font-weight: bold;
        
    }
    .banner_title-2{
        @extend .banner_title-1;
    }
    .text{
        color: $tercerColor;
        padding-top: 10px;
        font-size: 1.5em;
    }
    }  

.section_2{
   
    width: 74%;
    margin: auto;
    padding: 30px 0;
    font-size: 0.8em;


    .section_2-title {
        font-family:$fontEater;
        font-size: 40px;
        font-weight: bold;
        color: $mainColor;  
    } 
}
.us-text{
    margin: 0;
    

    .us-paragraph{
  
        font-family: 'roboto' sans-serif;
        color: $segundoColore;
        text-align: center;
        padding-top: 30px;}
        

        .us-rs{
        
        padding-top: 20px;
        margin: 20px 0; 
        
        .us-rs-title{
            font-weight: bold;
        }
         }
}

