#somos-moto .continer{
    text-align: center;
    padding:150px 12px ;

 .separacion{
  padding-bottom: 50px;
  text-align: center;

 } 

}
#somos-moto h2{
    color: $cuartoColor;

    .color-viole{
        color:$mainColor;
      
      }
  }
  #somos-moto p{
    color: $cuartoColor;
  }
