@import url('https://fonts.googleapis.com/css2?family=Eater&family=Germania+One&display=swap');

$fontEater: Germania One;
$mainColor:blueviolet;
$segundoColore:rgb(255, 255, 255);
$tercerColor:white;
$cuartoColor:aliceblue;
$quintoColor:black;
$colorFondo: rgb(30,30,30);
$carruselColor: rgba(0, 255, 255, 0);
$bordeContacto: 0 0 20px rgb(255, 248, 248);
$borde2: rgba(137, 43, 226, 0.397);
$contacto: rgba(134, 35, 226, 0.075);
$carta:rgba(122, 122, 122, 0.178);
